.dataSize {
  font-size: 10px;
}

.secondary {
  color: #a9a7a7;
}

.container {
  display: flex;
  justify-content: space-between;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.imgContainer {
  width: 35px;
  height: 35px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 22px;
  height: 22px;
}
