.container {
  font-size: 10px;
  text-transform: capitalize;
  justify-content: space-between;
  display: flex;
}

.infoButton {
  border-radius: 30px;
  border: 1.5px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  cursor: pointer;
}
